body{
    background-image: url(/Assets/photo-1566352207769-3a591cla2c9567.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.card {
    background: linear-gradient(135deg, #d56109,#5B548A );
    border-radius: 20px;
    color: rgb(239, 232, 232);

}
div{
    font-size: larger;
    color:rgb(239, 232, 232)
    
}